body {
  background-color: grey;
}

h1 {
  font-family: arial;
  text-align: center;
  color: white;
}

h2 {
  text-align: center;
}

.active {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.active {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {

  margin-left: auto;
  margin-right: auto;
}

.carousel-caption {
  color: red;
}

.commentandrating {
  display: inline !important;
}

.rating {
  display: inline !important;
}