<!DOCTYPE html>
<html>
<head>
  <title>Falkonpcincf</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!--broke it ;) %= javascript_include_tag 'application', 'data-turbolinks-track' => true %>-->
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Welcome to the Online-Store Store</h1>
<h2>Your source for Online-Stores in Germany.</h2>
<a href="products#index">LINK TO PRODUCTS</a>

<%= yield %>

</body>
</html>
